body {
  margin: 0;
  padding: 0;
  background-color: #e4e9ed;
  font-family: "Roboto", sans-serif;
}
#app h1 {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

#app form {
  text-align: center;
  height: 40px;
  padding-bottom: 2rem;
}
#app form input,
#app form button {
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#app form input {
  width: 300px;
  margin-right: 10px;
}
#app form input:focus-visible {
  outline: none;
}
#app form button {
  width: 60px;
  background-color: green;
  color: #fff;
}
#app form button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#contenedorCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cardPersonajes {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.divImagen {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImagen img {
  object-fit: contain;
  max-width: 300px;
  max-height: 300px;
}
